// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap-sprockets';
@import 'bootstrap';
@font-face {
  font-family: 'evo';
  src:font-url('Exo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Variables for theme
$primary-color: #00b6ff;
$secondary-color: #3dc4fd;


body {
  font-family: evo, sans-serif, arial;
  font-size: 10px;
  background-color: #f4f7fa;
}

.navbar-default {
  background-color: $primary-color;
  border: none;
  .navbar-brand {
    color: #fff;
    font-size: 2.2em;
    &:focus {
      color: #fff;
    }
  }
  .search  {
    &:-moz-placeholder, &:-ms-input-placeholder,&::-moz-placeholder  { /* Firefox 18-, Internet Explorer 10+ , Firefox 19+ */
      color: $secondary-color;
    }
    &::-webkit-input-placeholder{ /* Chrome */
      color: $secondary-color;
      opacity: 1 !important; 
    }
   
    width: 100px;
    border-radius: 20px;
    color: $secondary-color;
  }
}

#articles {
  list-style-type: none;
  .username {
    font-size: 1.6em;
    color: $secondary-color;
  }
  .title {
    font-size: 1.8em;
  }
  li {
    clear: both;
    border-bottom: 1px solid #dbdbeb;
    min-height: 150px;
    padding-top: 15px;
    &:hover {
      background-color: lighten(#f4f7fa, 5%);
    }
  }
  .thumbnail {
    border: 2px solid lightgray;
    border-radius: 50%;
    object-fit: cover;
    height: 90px;
    width: 90px;
    float: left;
    margin: 0 10px 40px 15px;
  }
  span {
    font-size: 1.2em;
    margin-right: 15px;
  }
  .comments,.ups,.downs {
    margin: 0 5px -3px 0;
    background-image: url('icon-sprite.png');
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px;
  }
  .ups {
    background-position: 0 -16px;
  }
  .downs {
    background-position: 0 -32px;
  }
}

#loader > img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}